genshi==0.7.*
lxml==5.3.0
pandas>=2.0.3 , <= 3.0.0
# pyyaml set to v5.3.* to prevent problems with setuptools upon installation, as described here: https://github.com/yaml/pyyaml/issues/723#issuecomment-1638560401
pyyaml==5.3.*
requests>=2.31.0 , <= 3.0.0
openpyxl>=3.1.2 , <= 4.0.0
jsonschema>=4.19.1
pytest==7.4.*
